---
layout: course
title: Concepteur de forêts comestibles
position: 0
instructors: mhu
summary: Maitriser l'écologie forestière, le design et l'implantation en 10 mois
duration: 34 jours
course_date: septembre 2023 à juin 2024
public: tous publics
image: images/formations/formation-concepteur-de-forets-comestibles.jpg
registration_url: https://semisto.punchpass.com/intake_forms/concepteur-de-forets-comestibles-2023?embed=true
---

<div class="prose">
	<p class="lead">Semisto a réuni une équipe de choc pour 12 étudiants motivés qui auront la chance de devenir les premiers Concepteurs de Forêts Comestibles certifiés. Ensemble, ils ont conçu ce tout nouveau cursus: plus de 200 heures de connaissances partagées sur l'écologie, le design, l'implantation et la gestion, suivi par 32 heures de co-création de ton propre projet de design. En juin 2024, tu es certifié Concepteur de Forêts Comestibles!</p>

	<p>Nous rentrerons en détails dans les
		thèmes de l'écologie de l'arbre et du jardin-forêt, ce qui te permettra de comprendre 
		les interactions entre les éléments, un principe essentiel pour tout concepteur.</p>

	<p>Le cursus démarre en septembre par une plongée dans le monde des forêts-jardins: nous sommes convaincus d’entrer dans l’ère des forêts comestibles, et nous en partagerons la vision. Nous rentrerons ensuite en détails dans les profondeurs de l’écologie et de la biologie de l’arbre, puis de l’écologie de la forêt-jardin, ce qui te permettra de comprendre les incroyables interactions entre les éléments, un principe essentiel pour tout concepteur, et te donnera toutes les cartes en main pour pouvoir passer à la conception.</p>

	<p>Nous découvrirons ensuite les différentes méthodes de design et nous nous intéresserons aux différentes phases d’un projet. Vous pourrez avec certitude et confiance élaborer un projet de A à Z.</p>

	<p>Nous nous intéresserons ensuite à l’implantation d’une forêt comestible. Plantation, multiplication, choix des plantes en pépinière, santé des arbres… autant de sujets qui méritent de se poser sur de la théorie avant de se lancer sur le terrain.</p>

	<p>Un dernier temps, et non des moindres, consacré à la gestion professionnelle de vos activités viendra clore la partie théorique avant de sortir nos crayons et/ou nos tablettes pour 3 mois de conception de votre projet de design. Nous co-créerons ensemble pendant 4 journées, et la formation deviendra hybride pour continuer à vous soutenir en ligne durant cette période.</p>

	<p>En juin 2024, célébrations! Nous décernerons en grande pompe votre certificat de Concepteur de Forêts Comestibles. Votre projet sera présenté au public et vous recevrez une accréditation digitale, un certificat numérique sécurisé sur la blockchain.</p>

	<div class="p-4 text-base text-gray-800 rounded-lg bg-gray-50" role="alert">
	  <span class="font-medium">L’inscription concerne l’ensemble des modules listés ci-dessous.</span> Les inscriptions à des modules spécifiques, pour celles et ceux qui seraient intéressés par un sujet en particulier mais pas par le cursus complet, seront ouvertes en juin 2023.
	</div>

	<h2>Pré-requis</h2>

	<p>La formation de Concepteur de Forêts Comestibles est accessible à toute personne certifiée en permaculture ayant suivi un CCP (Cours Certifié de Permaculture) OU ayant participé aux <a href="{{ '/courses/introduction-design-permaculture' | relative_url }}">2 jours d'introduction à la permaculture et au design des 7 et 8 avril 2023</a>. Nous conseillons alors vivement de suivre en parallèle un CCP durant le cursus. Certains CCP se déroulent sur toute une année, d’autres sont concentrés sur 2 semaines.</p>

	<h2>Intervenants</h2>

	<p><a href="{{ '/a-propos-de-semisto' | relative_url }}">Toute l'équipe de Semisto</a> intervient sur les modules de cette formation longue.</p>

	<div class="not-prose grid grid-rows-1 gap-4">
		<div class="flex">
		  <div>
		    <h4 class="text-lg font-bold">Laurence Delahaye</h4>
		    <p class="mt-1">Passionnée de l'écosystème forêt et d'écologie, Laurence se concentre aujourd'hui sur la résilience et la pérennité des écosystèmes forestiers. Elle accompagne et partage ses savoirs via <a href="https://www.epiphytia.be">Epiphytia</a>.</p>
		  </div>
		  <div class="ml-4 flex-shrink-0">
			<img alt="Laurence Delahaye, Semisto" class="h-24 w-24 rounded-lg object-cover shadow-lg" src="{{ 'images/team/laurence-delahaye-semisto@2x.jpg' | relative_url }}">
		  </div>
		</div>

		<div class="flex">
		  <div>
		    <h4 class="text-lg font-bold">Michael Dossin</h4>
		    <p class="mt-1">Michael expérimente un style de vie basé sur le respect de la Terre et la production alimentaire au sein de <a href="https://www.michaeldossin.be/la-micro-ferme/">la micro ferme du Bout du Monde</a> à Creppe (Spa).</p>
		  </div>
		  <div class="ml-4 flex-shrink-0">
		    <img alt="Michael Dossin, Semisto" class="h-24 w-24 rounded-lg object-cover shadow-lg" src="{{ 'images/team/michael-dossin-semisto@2x.jpg' | relative_url }}">
		  </div>
		</div>

		<div class="flex">
		  <div>
		    <h4 class="text-lg font-bold">Anne Goldschmidt</h4>
		    <p class="mt-1">Originellement scénographe et peintre/décoratrice, on peut dire qu'Anne a changé d'horizon. Designer en permaculture, Anne est passionnée par l'agriculture syntropique.</p>
		  </div>
		  <div class="ml-4 flex-shrink-0">
		    <img alt="Anne Goldschmidt, Semisto" class="h-24 w-24 rounded-lg object-cover shadow-lg" src="{{ 'images/team/anne-goldschmidt-semisto@2x.jpg' | relative_url }}">
		  </div>
		</div>

		<div class="flex">
		  <div>
		    <h4 class="text-lg font-bold">Michael Hulet</h4>
		    <p class="mt-1">Passionné de forêts-jardins, Michael fait partie du collectif des <a href="https://www.les4sources.be">4 Sources</a>, un tiers-lieu au sein duquel il conçoit et met en oeuvre un design permaculturel global.</p>
		  </div>
		  <div class="ml-4 flex-shrink-0">
		    <img alt="Michael Hulet, Semisto" class="h-24 w-24 rounded-lg object-cover shadow-lg" src="{{ 'images/team/michael-hulet-semisto@2x.jpg' | relative_url }}">
		  </div>
		</div>

		<div class="flex">
		  <div>
		    <h4 class="text-lg font-bold">Eric Luyckx</h4>
		    <p class="mt-1">Facilitateur de cours de permaculture et passionné de permaculture humaine, Eric est également éleveur de cochons Mangalitza 🐷 au sein de la coopérative <a href="http://www.grainesdevie.coop">Graines de Vie</a>.</p>
		  </div>
		  <div class="ml-4 flex-shrink-0">
		    <img alt="Eric Luyckx, Semisto" class="h-24 w-24 rounded-lg object-cover shadow-lg" src="{{ 'images/team/eric-luyckx-semisto@2x.jpg' | relative_url }}">
		  </div>
		</div>
	</div>

	<h2>Le contenu de la formation</h2>

	<p>La formation de Concepteur de Forêts Comestibles (<em>Food Forest Designer</em>) a pour objectif de faire passer ton savoir-faire sylvanier à un niveau supérieur.</p>

	<ul>
		<li>Plus de 200 heures de formation avec des formateurs passionnés et passionnants réparties sur 28 journées de cours</li>
		<li>32 heures de co-conception avec les autres étudiants et l’équipe de formateurs</li>
		<li>Un accès à vie aux outils en ligne mis en place par Semisto</li>
		<li>Un accès à la documentation écrite et vidéo mise à disposition par les formateurs</li>
		<li>Des partages extraordinaires avec les autres étudiants et formateurs, de vive voix bien entendu, mais également sur un wiki co-construit par nous tous durant le cursus</li>
		<li>Les éventuels bonus qui apparaitront lors des prochaines sessions</li>
	</ul>

	<p>Au terme du cursus:</p>

	<p>→ Tu es efficace, optimisant les actions te menant de la première rencontre avec le client à l’implantation des différentes strates</p>

	<p>→ Tu connais les outils professionnels à ta disposition et tu les sélectionnes en fonction de tes propres besoins</p>

	<p>→ Tu peux démarrer une activité générant un réel profit économique</p>

	<p>→ Tu peux faire un métier fantastique!</p>

	<p>→ OMG! You A-R-E a Food Forest Designer! 🙀</p>

	<h2>Des invités exceptionnels</h2>

	<p>Il n’est pas impossible que nous ayant la chance d’échanger avec des invités exceptionnels durant le cursus. Nous tisserons des liens avec d’autres lieux de formation, mais aussi avec des sylvaniers, des pépiniéristes-artisans, des paysagistes et des auteurs célèbres qui ont énormément à partager avec nous.</p>

	<p>Nous communiquerons notre enthousiasme avec les étudiants dès que des noms serons connus!</p>

	<h2>Des visites thématiques inspirantes</h2>

	<p>Semisto coordonne l’organisation de plusieurs visites durant le cursus. Les lieux visités seront choisis ensemble en fonction des souhaits des participants et des possibilités en terme de déplacements.</p>

	<h2>Programme</h2>
</div>

<div>
  <div class="flex flex-col">
    <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 md:pl-0">Date(s)</th>
              <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Sujet</th>
              <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Temps</th>
              <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Facilitateur·trice</th>
              <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Lieu</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <tr>
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">8 et 9 septembre 2023</td>
              <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Vers l'ère des forêts comestibles</td>
              <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
              	<span class="inline-flex items-center rounded-full bg-red-100 px-3 py-0.5 text-sm font-medium text-red-800">Temps I - Vision</span>
              </td>
              <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Michael Hulet et l'ensemble de l'équipe</td>
              <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">La Cabriole</td>
            </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">15 et 16 septembre 2023</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Imiter la nature</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-yellow-100 px-3 py-0.5 text-sm font-medium text-yellow-800">Temps II - Ecologie</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Laurence Delahaye</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Spy (hébergement aux 4 Sources)</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">6 et 7 octobre 2023</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Permaculture et échelle de permanence</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-green-100 px-3 py-0.5 text-sm font-medium text-green-800">Temps III - Conception</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Eric Luyckx</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">L'Arbre Qui Pousse</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">13 octobre 2023</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Biologie de l'arbre</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-yellow-100 px-3 py-0.5 text-sm font-medium text-yellow-800">Temps II - Ecologie</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Laurence Delahaye</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les 4 Sources</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">14 octobre 2023</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Caractéristiques de la forêt-jardin</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-yellow-100 px-3 py-0.5 text-sm font-medium text-yellow-800">Temps II - Ecologie</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Michael Dossin</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les 4 Sources</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">17 novembre 2023</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Plantation d'arbres et arbustes</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-blue-100 px-3 py-0.5 text-sm font-medium text-blue-800">Temps IV - Implantation</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Michael Dossin</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les 4 Sources</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">18 novembre 2023</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Choix et sélection des plantes</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-blue-100 px-3 py-0.5 text-sm font-medium text-blue-800">Temps IV - Implantation</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Michael Dossin</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les 4 Sources</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">24 novembre 2023</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Techniques de taille</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-blue-100 px-3 py-0.5 text-sm font-medium text-blue-800">Temps IV - Implantation</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Michael Dossin</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les 4 Sources</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">25 novembre 2023</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Techniques de multiplication</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-blue-100 px-3 py-0.5 text-sm font-medium text-blue-800">Temps IV - Implantation</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Michael Dossin</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les 4 Sources</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">8 décembre 2023</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Temps II - Ecologie: Les différents modèles agroforestiers</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-yellow-100 px-3 py-0.5 text-sm font-medium text-yellow-800">Temps II - Ecologie</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Anne Goldschmidt</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les 4 Sources</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">9 décembre 2023</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Temps III - Conception: Autonomie, récoltes et planification</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-green-100 px-3 py-0.5 text-sm font-medium text-green-800">Temps III - Conception</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Michael Dossin</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les 4 Sources</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">15 décembre 2023</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les forêts-jardins et le changement climatique<br></td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-yellow-100 px-3 py-0.5 text-sm font-medium text-yellow-800">Temps II - Ecologie</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Eric Luyckx</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les 4 Sources</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">15 décembre 2023</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les micro-climats</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-yellow-100 px-3 py-0.5 text-sm font-medium text-yellow-800">Temps III - Conception</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Eric Luyckx</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les 4 Sources</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">16 décembre 2023</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Objectifs différents, designs différents</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-green-100 px-3 py-0.5 text-sm font-medium text-green-800">Temps III - Conception</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Non déterminé</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les 4 Sources</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">12 et 13 janvier 2024</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Ecologie de l'arbre</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-yellow-100 px-3 py-0.5 text-sm font-medium text-yellow-800">Temps II - Ecologie</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Laurence Delahaye</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les 4 Sources</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">En février 2024</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">L'agriculture syntropique</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-yellow-100 px-3 py-0.5 text-sm font-medium text-yellow-800">Temps II - Ecologie</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Anne Goldschmidt</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Non déterminé</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">Non déterminé, en 2024</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les nouvelles technologies dans le design</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-green-100 px-3 py-0.5 text-sm font-medium text-green-800">Temps III - Conception</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Michael Hulet</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les 4 Sources</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">Non déterminé, en 2024</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Un écosystème à cultiver</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-yellow-100 px-3 py-0.5 text-sm font-medium text-yellow-800">Temps II - Ecologie</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Non déterminé</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Non déterminé</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">Non déterminé, en 2024</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les niches écologiques</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-yellow-100 px-3 py-0.5 text-sm font-medium text-yellow-800">Temps II - Ecologie</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Laurence Delahaye</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Non déterminé</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">Non déterminé, en 2024</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Espèces indigènes et exotiques</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-yellow-100 px-3 py-0.5 text-sm font-medium text-yellow-800">Temps II - Ecologie</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Michael Dossin</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les 4 Sources</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">Non déterminé, en 2024</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">La biodiversité et le design</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-green-100 px-3 py-0.5 text-sm font-medium text-green-800">Temps III - Conception</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Non déterminé</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Non déterminé</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">Non déterminé, en 2024</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Gestion des activités professionnelles</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-blue-100 px-3 py-0.5 text-sm font-medium text-blue-800">Temps V - Gestion</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Michael Hulet</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les 4 Sources</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">Non déterminé, en 2024</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Maitrise des budgets</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-blue-100 px-3 py-0.5 text-sm font-medium text-blue-800">Temps V - Gestion</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Michael Hulet</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les 4 Sources</td>
	        </tr>
	        <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">Non déterminé, en 2024</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Transmission et communication avec les clients</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-blue-100 px-3 py-0.5 text-sm font-medium text-blue-800">Temps V - Gestion</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Michael Hulet</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Les 4 Sources</td>
	        </tr>
            <tr>
	          <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 md:pl-0">4 jours, d'avril à juin 2024</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Co-création de ton projet de design</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">
	          	<span class="inline-flex items-center rounded-full bg-indigo-100 px-3 py-0.5 text-sm font-medium text-indigo-800">Temps VI - TFE</span>
	          </td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">Michael Hulet</td>
	          <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500"></td>
	        </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="mt-8 prose">
	<h2>En pratique</h2>

	<h3>Dates et horaires</h3>

	<p>Le cursus se déroule de septembre à juin 2024, à raison de 4 jours par mois: 2 sessions d’un vendredi et d’un samedi.</p>

	<p>Sauf exception, les cours commencent à 9h30 et se terminent à 17h.</p>

	<h3>Covoiturages et arrivée depuis la gare</h3>

	<p>Le tiers-lieu des 4 Sources, où se déroulent la majorité des modules, se situe à Yvoir. Il est accessible facilement depuis la gare, à 20 minutes en vélo. Si toutefois tu aurais besoin d’un lift pour rejoindre le tiers-lieu, contacte-nous avant septembre pour que nous mettions un taxi en place.</p>

	<p>Le lieu de départ des participants et des formateurs sera communiqué avant septembre afin d’organiser d’éventuels covoiturages.</p>

	<h3>Prix et inscriptions</h3>

	<div class="p-4 text-base text-gray-800 rounded-lg bg-gray-50" role="alert">
	  <span class="font-medium">Seuls quelques modules t'intéressent, pour compléter ta formation existante?</span> Chaque module sera accessible indépendamment des autres à partir de juin 2023 pour 4 participants supplémentaires par module. Une liste d'attente sera mise en place via le formulaire d'inscription et tu sera prévenu en cas de désistement. Inscris-toi à la Gazette de Semisto, au bas du site, pour être tenu au courant lorsque les inscriptions aux modules sont ouvertes.
	</div>

	<p>L’inscription ci-dessous concerne l’ensemble du cursus.</p>

	<p>Les coûts de la formation induits à Semisto concernent majoritairement la rémunération des formateurs, le remboursement de leurs frais de déplacements et la location d’un espace aux 4 Sources.</p>

	<p>Nous avons calculé un prix au plus juste afin d’assurer la pérennité du cursus, dont tu bénéficieras des améliorations et nouveautés des années académiques à venir! Participer à la première session du cursus t’apportera bien des bénéfices.</p>

	<p><strong>L’inscription au cursus de Concepteur de Forêts Comestibles revient à 2.500€.</strong> Une fois un premier paiement de 750€ validant ton inscription effectué, nous offrons un plan de versements pour favoriser l’inscription de tous et de toutes. Le solde du montant est étalé à ta convenance pour un paiement complet avant le 1er novembre 2023. Par défaut, 2 demandes de paiement de 875€ seront envoyées.</p>

	<p>Le cursus s’étale sur 17 périodes de 2 jours, c’est-à-dire 17 nuits aux 4 Sources si tu loges sur place. Au tarif solidaire proposé par les 4 Sources et en considérant que tu loges chaque fois en chambre, ton hébergement représente un coût de 425€ pour l’intégralité du cursus.</p>

	<!--div class="p-4 mb-4 text-base text-blue-800 rounded-lg bg-blue-50" role="alert">
	  <span class="font-medium">Tu souhaites étaler ton cursus sur 2 ans? 🤔</span> C’est tout à fait possible. Contacte-nous pour voir comment nous pouvons l’organiser.
	</div-->

	<h3>Hébergement</h3>

	<div><img src="{{ 'images/les-4-sources-yvoir-chambre.jpg' | relative_url }}" alt="Les 4 Sources, Yvoir" width="690" height="517"></div>

	<p>Le cursus se déroule de septembre à juin 2024 à un rythme de 2x 2 jours par mois répartis les vendredis et samedis, te permettant
	de conserver une journée pour ton week-end. Ces 34 journées sont un réel investissement dans ton futur.</p>

	<p>Nous te suggérons vivement de loger sur place aux 4 Sources, où nous pourrons passer beaucoup de temps ensemble en dehors des heures de cours. Les facilitateurs seront également présents certains week-ends, et seront ravis d'échanger avec vous à l'apéro.</p>

	<p>Nous réserverons les nuitées pour tous les participants, qui seront à régler en janvier et en juin. Aux 4 Sources, outre les chambres partagées, l'espace Bivouac (tentes et hamacs) est ouvert du printemps à l'automne.</p>

	<!--p>Pour réserver un lit dans une des chambres de la Maison Communautaire, suis-nous <a href="https://www.les4sources.be/notre-maison-communautaire">sur le site web des 4 Sources</a>. L'espace Bivouac, pour des tentes et hamacs, est ouvert du printemps au début d'automne. Tu peux également nous contacter pour nous préciser les dates où tu souhaites loger sur place ou
	nous faire part de tes besoins pour que nous puissions te faire une proposition adaptée.</p-->

	<h3>Repas</h3>

	<p>Pour le repas du vendredi et du samedi midi, prévois ton lunch. Auberge espagnole bienvenue!</p>

	<p>Pour le vendredi soir, le tiers-lieu propose un repas végétarien dont le tarif sera communiqué ultérieurement. Bien entendu, c'est une option et tu peux également cuisiner ou apporter ton repas, surtout si tu as des intolérances incompatibles avec les repas proposés.</p>

	<p>Une proposition suivra pour le petit déjeuner des samedis matins, en étroite collaboration avec les boulangères des 4 Sources et leurs succulents pains et couques cuits au feu de bois.</p>	
</div>

<div class="mt-8 prose">
	<h2>FAQ</h2>

	<h3>En savoir plus sur le cursus de Concepteur de Forêts Comestibles</h3>


	<div id="accordion-cursus" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-blue-900 dark:text-white" data-inactive-classes="text-blue-500 dark:text-blue-300">
		{% rendercontent "accordion", name: "cursus", item: 1 %}
			{% with question %}
				Qu’est-ce que le cursus de Concepteur de Forêts Comestibles?
			{% endwith %}
			{% with answer %}
		      	<p>Le cursus de Concepteur de Forêts Comestibles est un cours de formation mis en oeuvre par Semisto. Il s’adresse aux gens qui souhaitent passer à un niveau supérieur dans leurs méthodes de conception de forêts-jardins et autres systèmes productifs du même type, et qui envisagent éventuellement d’en faire leur métier. Ce cours vous permet de concevoir de manière efficace et pertinente.</p>
				<p>Il s’agit bien sûr d’un engagement en temps, en énergie et en argent. Et c’est pour cela que suivre un tel cursus fonctionne et te donnera l’assurance et la confiance requise lors de la rencontre avec tes clients.</p>
			{% endwith %}
		{% endrendercontent %}
		{% rendercontent "accordion", name: "cursus", item: 2 %}
			{% with question %}
				Où se déroulent les cours?
			{% endwith %}
			{% with answer %}
		      	<p>Les cours se déroulent en majorité aux 4 Sources, un tiers-lieu à Yvoir en Belgique. D’autres cours pourraient se dérouler ailleurs en Wallonie, et des visites de jardins-forêts seront proposées. Ces jardins-forêts pourraient se situer en Wallonie ou en Flandre.</p>
			{% endwith %}
		{% endrendercontent %}
		{% rendercontent "accordion", name: "cursus", item: 3 %}
			{% with question %}
				Jusque quand puis-je m’inscrire?
			{% endwith %}
			{% with answer %}
		      	<p>Jusqu’au 1er septembre 2023 ou jusqu’à ce que la formation soit complète, c’est-à-dire 12 inscriptions confirmées. Si tu as besoin de temps pour te décider, contacte-nous pour nous le signaler, afin que nous te tenions au courant si le nombre d’étudiants inscrits pourrait empêcher ton inscription.</p>
			{% endwith %}
		{% endrendercontent %}
		{% rendercontent "accordion", name: "cursus", item: 4 %}
			{% with question %}
				Dans quelle langue est donnée la formation?
			{% endwith %}
			{% with answer %}
				<p>Les cours sont donnés en français. Les documents sont fournis en français. Certains documents partagés par Semisto, mais non requis pour le cursus, peuvent être dans d’autres langues, principalement en anglais.</p>
			{% endwith %}
		{% endrendercontent %}
		{% rendercontent "accordion", name: "cursus", item: 5 %}
			{% with question %}
				Qu’est-ce que je vais apprendre?
			{% endwith %}
			{% with answer %}
		      	<p>Le cursus permet de comprendre les écosystèmes liés à la forêt comestible, de concevoir en conséquence en faisant des choix judicieux, de maitriser la phase d’implantation et de gérer un projet efficacement.</p>
				<p>Outre les documents fournis par les formateurs, Semisto partage des documents téléchargeables, des ressources et un accès à une communauté en ligne pour échanger avec tes pairs.</p>
			{% endwith %}
		{% endrendercontent %}
		{% rendercontent "accordion", name: "cursus", item: 6 %}
			{% with question %}
				Quels sujets ne sont pas traités dans ce cursus?
			{% endwith %}
			{% with answer %}
		      	<p>Le cursus est un cours majoritairement théorique axé sur la création de jardins-forêts, forêts comestibles ou haies fruitières. Nous abordons des sujets en matière de gestion de projet, de communication avec les clients et de maitrise des budgets.</p>
				<p>Le cursus n’est pas axé sur la pratique. Nous conseillerons pendant le cursus plusieurs formations axées sur la pratique qui nous semblent intéressantes.</p>
			{% endwith %}
		{% endrendercontent %}
		{% rendercontent "accordion", name: "cursus", item: 7 %}
			{% with question %}
				Est-ce que le cours remplace l’expérience pratique?
			{% endwith %}
			{% with answer %}
		      	<p>Non. Notre cours a été conçu pour aider les personnes ayant une expérience réelle du jardin-forêt à passer à un niveau supérieur. Certains de nos étudiant·e·s ont commencé récemment, d’autres ont déjà créé plusieurs jardins-forêts.</p>
			{% endwith %}
		{% endrendercontent %}
	</div>

	<h3>Frais et garanties</h3>

	<div id="accordion-money" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-blue-900 dark:text-white" data-inactive-classes="text-blue-500 dark:text-blue-300">
		{% rendercontent "accordion", name: "money", item: 1 %}
			{% with question %}
				Combien ça coute?
			{% endwith %}
			{% with answer %}
				<p>Les frais de formation pour le cursus de Concepteur de Forêts Comestibles sont de 2.500€ répartis en 3 paiements: un premier de 750€ à l’inscription, suivis par défaut de 2 paiements de 875€.</p>
				<p>De nombreux concepteurs·trices autodidactes apprennent sur leur terrain, ce que nous recommandons chaudement. Cependant, lorsqu’ils et elles désirent concevoir pour d’autres personnes, ils et elles manquent souvent de confiance pour se lancer et en faire une activité professionnelle.</p>
				<p>Notre cursus ne prétend pas remplacer le travail acharné et l’expérience pratique, mais il peut considérablement raccourcir la courbe d’apprentissage propre au démarrage d’une activité professionnelle. Le cours sert aussi à professionnaliser et uniformiser les activités, ce qui aidera à générer plus de profits.</p>
				<p>Le cursus de Concepteur de Forêts Comestibles représente un investissement pour celles et ceux qui désirent sérieusement réussir leur projet. Il s’agit, bien sûr, d’un engagement en temps, en énergie et en argent. Et c’est pour cela que ça fonctionne.</p>
			{% endwith %}
		{% endrendercontent %}
		{% rendercontent "accordion", name: "money", item: 2 %}
			{% with question %}
				Comment pourrais-je financer mes frais de formation différemment?
			{% endwith %}
			{% with answer %}
				<p>Nous nous engageons à faciliter l’accès au cursus le plus possible afin d’augmenter le nombre de concepteurs professionnels. Nous en avons besoin pour passer ensemble à l’ère des forêts comestibles.</p>
				<p>Nous avons conscience que plusieurs ne disposent pas des fonds nécessaires pour s’inscrire au cursus. De notre côté, nous pourrions avoir des pistes pour financer une partie de ton inscription. Si tu es 100% sûr de t’engager dans le cursus et que tu as besoin d’un coup de pouce financier, contacte-nous pour que nous cherchions des solutions.</p>
				<p>Nous sommes à la recherche de solutions pour subventionner les formations. Si tu en connais, informe-nous!</p>
				<p>En outre, tu peux recevoir le soutien de fondations, d’associations et d’autres initiatives destinées à soutenir la transition écologique et sociétale. Tu peux aussi envisager une collecte de fonds via une plateforme participative, comme Ulule. Si tu rédiges une 
				demande de subvention et que tu as besoin de certains documents (par exemple une facture) prouvant ton inscription au cursus, il te suffit de nous contacter.</p>
			{% endwith %}
		{% endrendercontent %}
		{% rendercontent "accordion", name: "money", item: 3 %}
			{% with question %}
				Est-ce que je devrai participer à nouveau pour conserver l’accès aux contenus?
			{% endwith %}
			{% with answer %}
		      	<p>Non. En t’inscrivant au cursus de Concepteur de Forêts Comestibles, tu bénéficies d’un accès à vie à l’ensemble de son contenu, y compris tout le matériel qui sera ajouté au fur et à mesure. Il se peut que nous offrions d’autres cours ou services complémentaires moyennant des frais additionnels, mais tu n’auras plus jamais à payer pour accéder aux contenus propres à ce cursus.</p>
			{% endwith %}
		{% endrendercontent %}
		{% rendercontent "accordion", name: "money", item: 4 %}
			{% with question %}
				Offrez-vous une garantie?
			{% endwith %}
			{% with answer %}
		      	<p>Nous mettons tout en oeuvre pour que le contenu du cursus soit clairement expliqué sur cette page web et pour que les cours soient de la qualité attendue. Si tu t’inscris, il nous semble que tu auras eu le temps nécessaire pour décider en conscience. Si tu as la moindre hésitation, question ou remarque, contacte-nous et nous serons ravis de répondre et d’échanger.</p>
			{% endwith %}
		{% endrendercontent %}
		{% rendercontent "accordion", name: "money", item: 5 %}
			{% with question %}
				Quels modes de paiement sont acceptés?
			{% endwith %}
			{% with answer %}
		      	<p>Les paiements se font par virement bancaire sur le compte de Semisto ASBL. Les informations pour le paiement sont fournies à l'inscription.</p>
			{% endwith %}
		{% endrendercontent %}
		{% rendercontent "accordion", name: "money", item: 6 %}
			{% with question %}
				Puis-je annuler mon inscription et être remboursé?
			{% endwith %}
			{% with answer %}
		      	<p>Le cursus est limité à 12 étudiants afin d’assurer la qualité des échanges. Le prix est calculé sur cette base et bien entendu, si la moitié des étudiants annulent avant le début des cours, cela met à mal tout le cursus pour l’ensemble des étudiants. Si toutefois, pour des raisons qui méritent toute notre attention, tu devais annuler ton inscription à tout le cursus, contacte-nous et nous mettrons tout en oeuvre pour qu’un·e étudiant·e en liste d’attente puisse te remplacer, ce qui permettra le remboursement intégral de ton inscription.</p>
			{% endwith %}
		{% endrendercontent %}
		{% rendercontent "accordion", name: "money", item: 7 %}
			{% with question %}
				Comment fonctionne le plan de versement?
			{% endwith %}
			{% with answer %}
		      	<p>Nous offrons un plan de versements étalé jusqu’à novembre 2023 pour favoriser l’inscription de tous et de toutes. Une fois votre formulaire d’inscription complété, tu reçois une facture de 750€ à payer pour finaliser ton inscription. Par défaut, 2 autres factures de 875€ te sont adressées pendant l’été et fin octobre. Cependant, tu peux nous faire part de ta préférence pour un autre étalement. L’essentiel étant que le paiement total soit effectué au 1er novembre.</p>
			{% endwith %}
		{% endrendercontent %}
	</div>

	<h3>À qui s’adresse ce cursus?</h3>

	<div id="accordion-public" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-blue-900 dark:text-white" data-inactive-classes="text-blue-500 dark:text-blue-300">
		{% rendercontent "accordion", name: "public", item: 1 %}
			{% with question %}
				À qui convient le cursus de Concepteur de Forêts Comestibles?
			{% endwith %}
			{% with answer %}
				<ul>
					<li>À des personnes engagées qui ont un minimum d’expérience de terrain et qui ont besoin de conseils et d’une communauté sur laquelle s’appuyer pour démarrer de nouvelles aventures.</li>
					<li>À des paysagistes qui souhaitent créer des “paysages comestibles”.</li>
					<li>À des maraichers·ères qui veulent développer le concept de haies fruitières sur leur terrain.</li>
					<li>À des sylvaniers·ères qui désirent améliorer leur efficacité et accroitre les rendements de leur jardin-forêt.</li>
					<li>À des pépiniéristes passionnés qui veulent créer un jardin-forêt à la pépinière et produire localement des plantes multi-strates de plus en plus recherchées.</li>
				</ul>
			{% endwith %}
		{% endrendercontent %}
		{% rendercontent "accordion", name: "public", item: 2 %}
			{% with question %}
				À qui NE convient PAS le cursus de Concepteur de Forêts Comestibles?
			{% endwith %}
			{% with answer %}
				<ul>
					<li>Aux néophytes. Si tu n’as jamais planté d’arbre, tu trouveras le cursus trop avancé pour toi. Dans un tel cas, nous te suggérons de venir aux journées d’introduction au jardin-forêt et de te procurer quelques bons livres pour démarrer.</li>
					<li>Les gens qui ne vont pas mettre en pratique les apprentissages du cursus. Si tu n’as pas l’intention d’utiliser l’information, les outils et les conseils que nous offrons pour un projet réel en cours ou prévu dans un avenir proche, nous ne croyons pas que tu tireras pleinement parti de notre cours. Ne t’inscris pas uniquement par curiosité ou pour faire de la recherche. Notre cours s’adresse aux gens d’action.</li>
					<li>Des gens qui ne veulent pas faire l’effort d’apprendre. Plonger dans l’univers végétal et ses interactions avec tous les éléments, c’est complexe.</li>
					<li>Les gens irrespectueux envers les autres. Nous nous attendons à de la courtoisie, à une bonne attitude, à de la bienveillance et à du respect.</li>
				</ul>
			{% endwith %}
		{% endrendercontent %}
		{% rendercontent "accordion", name: "public", item: 3 %}
			{% with question %}
				Est-ce que les contenus de la formation seront adaptés à mon climat?
			{% endwith %}
			{% with answer %}
				<p>Chaque contexte est différent et dépend notamment du climat, du terrain, du sol et de bien plus encore. Durant le temps consacré à la conception, nous aborderons les différences liées aux différents climats. Cependant, le cursus est centré sur le climat tempéré.</p>
			{% endwith %}
		{% endrendercontent %}
	</div>

	<h3>Derniers petits détails</h3>

	<div id="accordion-chowda" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-blue-900 dark:text-white" data-inactive-classes="text-blue-500 dark:text-blue-300">
		{% rendercontent "accordion", name: "chowda", item: 1 %}
			{% with question %}
				Comment soutenez-vous les étudiants tout au long du cursus?
			{% endwith %}
			{% with answer %}
				<ul>
					<li>L’équipe de formateurs: L’équipe de formateurs de Semisto est composée de designers et de scientifiques expérimentés. Ils sont accessibles pendant toute la durée du cursus pour répondre aux questions des étudiants.</li>
					<li>Étudiants: Notre petit groupe se soutient mutuellement et échange des conseils dans le groupe d’échange privé dédié au cursus sur Discord.</li>
				</ul>
			{% endwith %}
		{% endrendercontent %}
		{% rendercontent "accordion", name: "chowda", item: 2 %}
			{% with question %}
				Et si j’ai d’autres questions?
			{% endwith %}
			{% with answer %}
				<p>Pour toutes questions ou préoccupations, n’hésite pas à nous écrire. Nous sommes toujours ravi.es de vous aider.</p>
			{% endwith %}
		{% endrendercontent %}
	</div>
</div>

{% rendercontent "cta", link: resource.data.registration_url, image_path: resource.data.image %}
	{% with title %}
		Devenir concepteur de forêts comestibles.
	{% endwith %}
	{% with description %}
		Rejoins la première cohorte d'étudiants, approfondis tes connaissances ou lance-toi dans un 
		nouveau métier extraordinaire.
	{% endwith %}
{% endrendercontent %}
