---
layout: default
---

<div class="mx-auto max-w-7xl pt-8 px-4 sm:px-6 lg:flex lg:justify-between lg:px-8">
    <div class="max-w-7xl">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl">{{ page.title }}</h1>
        <p class="mt-5 text-xl text-gray-500">
        	<strong>{{ page.data.event_date }}</strong><br>
        	{{ page.data.summary }}
        </p>

		<div class="pt-4">
		    <div class="lg:flex lg:justify-between">
				<nav class="flex" aria-label="Breadcrumb">
				  <ol role="list" class="flex items-center space-x-2">
				    <li>
				      <div>
				        <a href="/" class="text-blue-600 hover:text-blue-400">
				          <!-- Heroicon name: mini/home -->
				          <svg class="h-5 w-5 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
				            <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z" clip-rule="evenodd" />
				          </svg>
				          <span class="sr-only">Accueil</span>
				        </a>
				      </div>
				    </li>

				    <li>
				      <div class="flex items-center">
				        <svg class="h-5 w-5 flex-shrink-0 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
				          <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
				        </svg>
				        <a href="{{ '/events' | relative_url }}" class="ml-4 text-sm font-medium text-blue-600 hover:text-blue-400">Formations</a>
				      </div>
				    </li>

				    <li>
				      <div class="flex items-center">
				        <svg class="h-5 w-5 flex-shrink-0 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
				          <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
				        </svg>
				        <span class="ml-4 text-sm font-medium text-gray-500">{{ page.title }}</span>
				      </div>
				    </li>
				  </ol>
				</nav>
			</div>
		</div>
    </div>
</div>

<div class="mx-auto max-w-7xl py-6 px-4 sm:px-6 lg:px-8">
	{{ content }}
</div>
