	  <div id="accordion-{{ name }}-heading-{{ item }}">
	    <button type="button" class="accordion-heading flex items-center justify-between w-full py-5 font-medium text-left border-b border-gray-200 dark:border-gray-700" data-accordion-target="#accordion-{{ name }}-body-{{ item }}" aria-expanded="true" aria-controls="accordion-{{ name }}-body-{{ item }}">
	      <span>{{ question }}</span>
	      <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
	    </button>
	  </div>
	  <div id="accordion-{{ name }}-body-{{ item }}" class="hidden" aria-labelledby="accordion-{{ name }}-heading-{{ item }}">
	    <div class="pb-5 border-b border-gray-200 dark:border-gray-700">
	      	{{ answer }}
	    </div>
	  </div>
