---
layout: event
date: 2023-03-12
event_date: 12 mars 2023
title: Les précieux auxiliaires des Jardins d'Ici
type: Chantier de plantations
location: D'ici, Naninne (Namur)
duration: 1 jour
hours: 10h-16h
summary: Chantier participatif pour planter 1.500 arbres auxiliaires et faire naitre la forêt nourricière des Jardins d'Ici!
image: images/events/arbres-auxiliaires-d-ici.jpg
---

<div class="prose">
	<p class="lead">
		La forêt nourricière des Jardins d'Ici prendra vie en mars. 
		Tous ensemble, nous allons planter 1.500 arbres "auxiliaires" dont le rôle principal sera 
		de soutenir la croissance des plantes dites "productives" qui seront plantées cet hiver.
	</p>

	<p>
		Appelés arbres assistants, auxiliaires ou <em>support species</em> en anglais, vous les croiserez
		parfois dans la littérature francophone sous le doux nom d'AFI: Architecturales, Fertilisantes, Ingénieures.
		Ces arbres nous font <strong>gagner du temps pour créer un écosystème résilient et productif</strong>: ils sont nos précieux auxiliaires.
	</p>

	<p>
		Elles jouent un rôle clé dans la régulation des énergies entrantes du soleil, du vent et 
		de l'eau, en hydratant le sol et en stabilisant le cycle de l'eau, en récoltant les nutriments 
		de l'air (c'est-à-dire la fixation de l'azote) et des différentes profondeurs du sol, en créant de 
		nouvelles niches pour accueillir une diversité d'organismes vivants à la fois au-dessus et au-dessous 
		du sol et, en général, en remettant l'écosystème en fonction.
	</p>

	<p>
		Concrètement, <strong>on évite l'apport d'intrants pour recréer un sol vivant et on laisse la nature
		travailler avec tous ses talents</strong>. Dans les prochaines années, les arbres auxiliaires seront
		taillés, élagués ou sacrifiés, restituant leur bois au sol, ce qui ouvre alors de nouvelles
		opportunités pour les arbres et arbustes fruitiers que nous aurons plantés.
	</p>

	<h3>Des espèces indigènes et pionnières</h3>

	<ul>
		<li>Des bouleaux</li>
		<li>Des charmes champêtres</li>
		<li>Des noisetiers</li>
		<li>Des frênes à fleurs</li>
		<li>Des bourdaines</li>
		<li>Des érables champêtres</li>
		<li>Des aulnes</li>
		<li>Des robiniers</li>
		<li>Des églantiers</li>
		<li>Des viornes</li>
		<li>Des saules</li>
	</ul>

	<h2>Les Jardins d'Ici</h2>

	<div>
		<img class="w-full" src="{{ 'images/events/les-jardins-d-ici.jpg' | relative_url }}" alt="Les Jardins d'Ici à Naninne">
	</div>

	<p>
		Le super « marché » des producteurs locaux, D'ici, a imaginé un jardin où petits et grands pourront se divertir,
		s'émerveiller et interagir avec leur environnement.
	</p>

	<p>
		On y trouvera dès ce printemps la régionale namuroise des fantastiques bénévoles de Natagora, "Coeur de Wallonie", et
		la belle forêt nourricière qui sera co-conçue cet été avec l'équipe de D'ici. Un beau projet en perspective!
	</p>

	<p>
		Le projet est porté par Agnès, responsable épicerie du magasin, et Simon, responsable logistique et chef-potager du jardin.
	</p>

	<h3>Les partenaires de la journée</h3>

	<div class="grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-3">
		<div class="col-span-1 flex justify-center">
			<a href="https://www.d-ici.be" target="_blank"><img class="h-36" src="{{ 'images/partenaires/d-ici-producteurs-locaux.png' | relative_url }}" alt="D'ici - L'épicerie des producteurs locaux à Namur"></a>
		</div>
		<div class="col-span-1 flex justify-center">
			<a href="https://coeurdewallonie.natagora.be" target="_blank"><img class="h-36" src="{{ 'images/partenaires/natagora-coeur-de-wallonie.png' | relative_url }}" alt="Natagora - Coeur de Wallonie"></a>
		</div>
		<div class="col-span-1 flex justify-center">
			<a href="http://www.arboplants.be" target="_blank"><img class="h-36" src="{{ 'images/partenaires/arboplants-pepiniere.png' | relative_url }}" alt="Arbo'Plants, pépinière spécialisée en jardins-forêts et forestière à Nassogne"></a>
		</div>
	</div>

	<h2>En pratique</h2>

	<h3>Horaires de la journée</h3>

	<p>
		Nous planterons tous ces jeunes arbres le <strong>dimanche 12 mars dès 10h</strong> et terminerons le 
		chantier par un verre de célébration à 15h30!
	</p>

	<h3>Où ça se passe?</h3>

	<p>
		Les Jardins d'Ici<br>
		Chaussée de Marche, 940<br>
		Naninne (Nationale 4 entre Namur et Assesse)
	</p>

	<p>Via la E411, sortie 16 - Weirde/Naninne et vous y êtes presque!</p>

	<h3>Planning</h3>

	<p>
		10h-10h30: <strong>Présentation</strong> du chantier et de nos précieux arbres auxiliaires, par Michael (Semisto) et Simon (Arboplants)<br>
		10h30-12h: <strong>Plantations et paillage</strong><br>
		12h-13h: <strong>Lunch</strong> et papote<br>
		13h-15h30: <strong>Plantations</strong>
		15h30-16h: Verre de <strong>célébration</strong>!
	</p>

	<h3>Lunch</h3>

	<p>
		D'Ici proposera des couques dans la matinée et des baguettes avec fromages, jambon et salades 
		préparées pour le lunch. Vous ne devez prévoir un lunch que si vous avez des intolérances ou 
		allergies et qu'il est préférable que vous ameniez votre repas.
	</p>

	<h3>À emporter</h3>

	<ul>
		<li>Des vêtements adaptés à la météo de la journée</li>
		<li>Des bottes ou bottines</li>
		<li>Des gants de jardinage</li>
		<li>Eventuellement, votre bêche préférée</li>
	</ul>

	<h2>Partager avec mes amis</h2>

	<p>
		L'adresse web à partager avec l'image de ton choix:<br>
		<a href="https://www.semisto.org{{ resource.relative_url }}">https://www.semisto.org{{ resource.relative_url }}</a>
	</p>

	<div class="grid grid-cols-1 gap-x-8 md:grid-cols-2">
		<div class="col-span-1 flex justify-center">
			<a href="{{ 'images/events/2023-03-12-d-ici/jardins-d-ici-01.jpg' | relative_url }}" target="_blank"><img class="w-full" src="{{ 'images/events/2023-03-12-d-ici/jardins-d-ici-01.jpg' | relative_url }}" alt=""></a>
		</div>
		<div class="col-span-1 flex justify-center">
			<a href="{{ 'images/events/2023-03-12-d-ici/jardins-d-ici-02.jpg' | relative_url }}" target="_blank"><img class="w-full" src="{{ 'images/events/2023-03-12-d-ici/jardins-d-ici-02.jpg' | relative_url }}" alt=""></a>
		</div>
		<div class="col-span-1 flex justify-center">
			<a href="{{ 'images/events/2023-03-12-d-ici/jardins-d-ici-03.jpg' | relative_url }}" target="_blank"><img class="w-full" src="{{ 'images/events/2023-03-12-d-ici/jardins-d-ici-03.jpg' | relative_url }}" alt=""></a>
		</div>
	</div>

	<h2>Je m'inscris</h2>

	<p>Nous avons besoin de toi pour planter ces 1.500 arbres! Inscris-toi ci-dessous, tu recevras
	les dernières informations pratiques quelques jours avant le 12 mars.</p>

	<form class="grid grid-cols-1 gap-y-6" action="https://api.staticforms.xyz/submit" method="post">
		<input type="hidden" name="accessKey" value="d664529f-04ad-4795-8432-7f2a4eee4349">

		<div>
			<label class="text-sm font-medium" for="contact-name">Mon nom</label>
			<input id="contact-name" name="name" required="required" autocomplete="name" placeholder="Mon nom" class="block w-full rounded-md border-gray-300 py-3 px-4 placeholder-gray-500 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" type="text">
		</div>

		<div>
			<label class="text-sm font-medium" for="contact-email">Mon adresse email</label>
			<input id="contact-email" name="email" required="required" autocomplete="email" placeholder="Mon adresse email" class="block w-full rounded-md border-gray-300 py-3 px-4 placeholder-gray-500 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" type="text">
		</div>

		<div>
			<label class="text-sm font-medium" for="contact-phone">Mon numéro de téléphone</label>
			<input id="contact-phone" name="phone" autocomplete="phone" placeholder="Mon numéro de téléphone" class="block w-full rounded-md border-gray-300 py-3 px-4 placeholder-gray-500 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" type="text">
		</div>

		<div>
			<label class="text-sm font-medium" for="contact-people">Nombre de personnes présentes adultes/enfants (environ)</label>
			<input id="contact-people" name="people" placeholder="Nombre de personnes présentes adultes/enfants (environ)" class="block w-full rounded-md border-gray-300 py-3 px-4 placeholder-gray-500 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" type="text">
		</div>

		<div>
			<label class="text-sm font-medium" for="contact-message">Mes informations supplémentaires éventuelles</label>
			<textarea id="contact-message" name="message" rows="6" class="block w-full rounded-md border-gray-300 py-3 px-4 placeholder-gray-500 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" placeholder="Mon message"></textarea>
		</div>

		<!-- If we receive data in this field submission will be ignored -->
		<input type="text" name="honeypot" style="display: none;"> 

		<!-- If you want replyTo to be set to specific email -->
		<!--input type="text" name="replyTo" value="myreplytoemail@example.com"-->
		<!-- Specify @ as reply to value if you want it to be customers email -->
		<input type="hidden" name="replyTo" value="@"> <!-- Optional -->
		<!-- If you want form to redirect to a specific url after submission -->
		<input type="hidden" name="redirectTo" value="https://www.semisto.org/confirmation-evenement"> <!-- Optional -->

		<div>
			<button class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-3 px-6 text-base font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" type="submit"><svg class="w-6 h-6 flex-shrink-0" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M6 12L3.269 3.126A59.768 59.768 0 0121.485 12 59.77 59.77 0 013.27 20.876L5.999 12zm0 0h7.5" stroke-linecap="round" stroke-linejoin="round"></path></svg><span class="ml-3">Je m'inscris à cet événement fabuleux</span></button>
		</div>
	</form>
</div>
